/build
/docs/latex/DOM-gen.aux
/docs/latex/DOM-gen.synctex.gz
/docs/latex/DOM-gen.toc
/docs/latex/DOM-gen.tex
/docs/latex/DOM-gen.lot
/docs/latex/DOM-gen.log
/docs/latex/DOM-gen.lof
/docs/latex/clip.png
/docs/latex/xiang.png
/img/product_trans.tif
/img/ratio_trans.tif
/img/weighted_fusion.tif
/img/DOM-5CM-ROI.tif